[Unit]
Description=Github repo version poller.

[Service]
WorkingDirectory=/root/git-version-poller
ExecStart=npm run start
Type=simple
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target